#########
#Exclude all
#########
*
!*/
!.gitignore
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
!*.sv
#########
#Project files
#########
#Do NOT ignore *.xpr files
!*.xpr
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc
#########
#Include all pdfs as problem descriptions & other diagrams
!*.pdf
####
Ignore final
####
final/final.pdf
final/final_project.pdf